<EditForm Model="@customer" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Tax Identification Number:</label>
        <div>
            <InputText @bind-Value="@customer.TaxId" class="form-control" />
            <ValidationMessage For="@(() => customer.TaxId)" />
        </div>
    </div>
    <div class="form-group">
        <label>Email Adress:</label>
        <div>
            <InputText @bind-Value="@customer.EmailAdress" class="form-control" />
            <ValidationMessage For="@(() => customer.EmailAdress)" />
        </div>
    </div>
    <div class="form-group">
        <label>Contact Number:</label>
        <div>
            <InputText @bind-Value="@customer.ContactNumber" class="form-control" />
            <ValidationMessage For="@(() => customer.ContactNumber)" />
        </div>
    </div>
    <div class="form-group">
        <label>Adress:</label>
        <div>
            <InputTextArea @bind-Value="@customer.Adress" class="form-control" />
            <ValidationMessage For="@(() => customer.Adress)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">@ButtonText</button>
    <BackToList Target="customers" />
</EditForm>

@code {
    [Parameter] public Customer customer { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
